body {
	background-color: #041f3c;
}

.loginForm {
	width: 550px;
	height: 33px;
	position: fixed;
	top: 30%;
	left: 10%;
	display: none;
}

input[type=text] {
	border: 2px solid #f2be32;
	background-color: #041f3c;
	width:290px;
	height: 30px;
	font-family:  monospace;
	color: #ffffff;
	padding-left: 0.4em;
	margin-right: 4px;
	outline: #f2be32;
}
input[type=button] {
	font-family: monospace;
	border: 3px solid #f2be32;
	background-color: #f2be32;
	height: 35px;
	width: 75px;
	font-weight: 900;
	font-size: 15px;
	align-content: center;
	transition-duration: 0.2s;
}
input[type=button]:hover {
	background-color: #17b5ef;
	border: 3px solid #17b5ef;
}

input:focus {
	outline: #f2be32;
}

::placeholder {
  color: #515c66;
  opacity: 1; /* Firefox */#
  font-family:  monospace;
  padding-left: 0em;
  font-size: 13.5px;
  font-weight: 600;
  top: 50%;
  bottom: 50%;
}


#lspdHeader {
	color: #ffffff;
	font-family: monospace;
	font-size: 2.5em;
	margin:150px 0 0 1375px;
	margin-right: 15px;
	margin-top: 15px;
	width: 520px;
}

#lspdHeaderUnder {
	color: #ffffff;
	font-family: monospace;
	margin: 0 0 0 1725px;
	font-size: 1.3em;
	width: 115px;
	color: #f2be32;
	font-weight: 400;
}

#loginText {
	color: #ffffff;
	margin: 0 0 0 150px;
	font-family: monospace;
	font-size: 1.3em;
}

#headerBreak {
	width: 1750px;
	border: 2px solid #f2be32;
}






/*  Navigation Bar  */
ul {
	color: #ffffff;
	list-style-type: none;
	font-family: monospace;
	font-size: 1.3em;
	font-weight: 800;
	margin: 3px 0 0 580px;
	background-color: #f2be32;
	width: 648px;
	height: 35px;
}

li {
	color: #000000;
	display: inline-block;
	margin: auto;
}
a {
	text-decoration: none;
	color: #000000;
	margin-top: 6px;
	align-items: center;
	display: flex;
}
/* Navigation Bar */








#myTable {
  border-collapse: collapse;
  width: 24%;
  border: 2px solid #f2be32;
  font-size: 18px;
  position: fixed;
  top: 36%;
  left: 8%;
  font-family: monospace;
  text-align: center;
  background-color: #f2be32;
  display: none;
}

#myTable th, #myTable td {
  padding: 7px;
}

#myTable tr {
  border-bottom:7px solid #041f3c;
  color: #000000;
  font-weight: 800;
}

#myTable tr:hover {
  background-color: #17b5ef;
  font-weight: 800;
  border-top: 2px solid #17b5ef;
  border-right: 2px solid #17b5ef;
  border-left: 2px solid #17b5ef;
}

#footerBreak {
	width: 1750px;
	border: 2px solid #f2be32;
	margin-top: 850px;
}
#footerText {
	color: #ffffff;
	font-family: monospace;
	font-size: 1.2em;
	margin-left: 850px;
	margin-top: 30px;
}



